# Игнорировать виртуальное окружение
.venv/
venv/

# Игнорировать файлы кеша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файл базы данных (если SQLite)
db.sqlite3

# Переменные окружения (ключи, пароли)
.env

# Файлы логов
logs/
*.log
*.session
*.session-journal

# Папки с медиа файлами
media/