# Игнорировать виртуальное окружение
.venv/
venv/

# Игнорировать файлы кеша Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файл базы данных SQLite и папки Индексной БД FAISS
db.sqlite3
**/Index_DB_*/

# Переменные окружения (ключи, пароли)
.env

# Файлы логов
logs/
*.log
*.session
*.session-journal

# Папки с медиа файлами
media/

# Игнорировать неактуальные файлы. Всё, что начинается с #
\#*

# Добавить в .gitignore папку и все содержимое tgservice\results_fill_db
tgservice/results_fill_db/