{% extends "base.html" %}

{% block title %}Вход в систему{% endblock %}

{% block sidebar %}{% endblock %}  {# <-- Отключаем боковое меню #}

{% block content %}
<h1 class="page-title">
    <a style="color: inherit; text-decoration: none;">Вход в аккаунт</a>
</h1>
<div class="login-wrapper">
    
    <div class="form-container login-form">
        <!-- <h2>Вход в аккаунт</h2> -->
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label class="form-label" for="id_username">Логин</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label class="form-label" for="id_password">Пароль</label>
                {{ form.password }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn">Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}