{% extends 'base.html' %}

{% block title %}
    TG-Service
{% endblock %}

{% block content %}
<!-- Главная страница -->
<div class="page" id="main-page">

        <div class="main-description">
            
            <h2>{{ message }}</h2>
            <br>
            <h3>Платформа по подбору релевантных каналов под вашу рекламную кампанию!</h3>
            <br>
            <br>
            <p>Мы стремимся сделать организацию Ваших проектов проще, быстрее и эффективнее!</p>
            
        </div>
        
        <button class="btn btn-block" id="start-test-button" data-url="{% url 'tgservice:login' %}">
            <h2>Войти</h2>
        </button>
</div>
{% endblock %}           
