{% extends 'base.html' %}

{% block title %}
    Проекты
{% endblock %}

{% block content %}
<!-- Страница тестирования -->
<div class="page" id="projects-page">
    <h1 class="page-title">Последние проекты</h1>
    
    <div class="projects-description">
        <h2>Описание теста</h2>
        <p>Этот тест поможет определить ваш текущий уровень знаний. Тест состоит из 20 вопросов различной сложности, которые охватывают основные темы.</p>
        <p>Время прохождения теста не ограничено, но постарайтесь отвечать на вопросы последовательно и без посторонней помощи.</p>
        <p>После завершения теста вы получите подробный анализ ваших ответов и рекомендации по дальнейшему обучению.</p>
    </div>
    
    <button class="btn btn-block" id="start-test-button">Перейти к тесту</button>
</div>
{% endblock %}           
