{% extends 'base.html' %}

{% block title %}
    Поиск ТГ-каналов
{% endblock %}

{% block content %}
<!-- Страница подбора каналов -->
<div class="page" id="search-page">
    <h1 class="page-title">
        <a href="{% url 'tgservice:search' %}" style="color: inherit; text-decoration: none;">Новый рекламный проект</a>
    </h1>
    <!-- Форма для проекта -->
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <div class="form-columns">
                <!-- строка 1 -->
                <div class="form-group">
                    <label class="form-label" for="id_name">Название проекта</label>
                    {{ form.name }}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_count_requested">Количество каналов</label>
                    {{ form.count_requested }}
                </div>
                <!-- строка 2 -->
                <div class="form-group">
                    <label class="form-label" for="id_description">Описание проекта</label>
                    {{ form.description }}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_target_audience">Целевая аудитория</label>
                    {{ form.target_audience }}
                </div>
                <!-- строка 3 -->
                <div class="form-group">
                    <label class="form-label" for="id_keywords">Ключевые слова</label>
                    {{ form.keywords }}
                </div>
                <div class="form-group">
                    <label class="form-label" for="id_creatives">Примеры креативов</label> 
                    {{ form.creatives }}
                </div>               
            </div>

                <div class="form-group">
                    <button type="submit" class="btn">Начать подбор</button>
                </div>
        </form>
    </div>

    <!-- Таблица результатов -->
    {% if project %}
    <div class="projects-description">
        <br>
        <h2>Проект: {{ project.name }}</h2>
        <br>
        <p><strong>Описание:</strong> {{ project.description }}</p>
        <br>
        <p><strong>Целевая аудитория:</strong> {{ project.target_audience }}</p>
        <br>
        <p><strong>Ключевые слова:</strong> {{ project.keywords }}</p>
        <br>
    </div>

    <!-- Шапка таблицы и кнопка выгрузки файла -->
    <div class="projects-description" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
        <h3 style="margin: 0;">Найденные каналы</h3>
        <a href="{% url 'tgservice:download_excel' project.id %}" class="btn btn-success">
            📥 Скачать Excel
        </a>
    </div>

    <!-- Блок таблицы -->
    <div class="projects-description">    
        <table class="form-control">
            <thead>
                <tr>
                    <th>Канал</th>
                    <th>Категория</th>
                    <th>Подписчики</th>
                    <th>Описание</th>
                    <th>Креативы</th>
                    <th>Оценка</th>
                </tr>
            </thead>
            <tbody>
                {% for channel in channels %}
                <tr>
                    <td>{{ channel.channel_name }}</td>
                    <td>{{ channel.category }}</td>
                    <td>{{ channel.subscribers }}</td>
                    <td>{{ channel.description|truncatewords:20 }}</td>
                    <td>{{ channel.new_creatives }}</td>
                    <td>{{ channel.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

</div>
{% endblock %}           
