{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    </head>
    <body class="light-theme">
        <!-- Верхнее меню -->
        <nav class="top-menu">
            <a href="{% url 'tgservice:main' %}" class="title-menu nav-link">TG-Service</a>

            <!-- Кнопка выхода -->
            {% if user.is_authenticated %}
                <div style="display: flex; align-items: center; gap: 1rem;">
                    <span>Вы вошли как: {{ user.username }}</span>
                    <form method="post" action="{% url 'tgservice:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Выйти</button>
                    </form>
                </div>
            {% endif %}

            <a href="{% url 'tgservice:main' %}" class="nav-link">Главная</a>
            <div class="theme-switcher">
                <i class="fas fa-moon theme-icon" id="theme-icon"></i>
            </div>
        </nav>
        
        <!-- Боковое меню -->
        {% block sidebar %}       
            {% if user.is_authenticated %}
            
            <aside class="sidebar">
                <button class="toggle-sidebar" id="toggle-sidebar">
                    <i class="fas fa-chevron-left"></i>
                </button>
                
                <nav>
                    <ul class="sidebar-nav">
                        <li><a href="{% url 'tgservice:search' %}" class="sidebar-link active"><i class="fas fa-user-edit"></i>Новый Проект</a></li>
                        <li><a href="{% url 'tgservice:projects' %}" class="sidebar-link"><i class="fas fa-pencil-alt"></i>Проекты</a></li>
                        <li><a href="{% url 'tgservice:channels' %}" class="sidebar-link"><i class="fas fa-comments"></i>ТГ-каналы</a></li>
                        <!-- <li><a href="{% url 'tgservice:empty' %}" class="sidebar-link"><i class="fas fa-user-circle"></i>Пустая страница</a></li> -->
                    </ul>
                </nav>
            </aside>
            {% endif %}
        {% endblock %}

        <!-- Основное содержание -->
        <main class="main-content">
            {% block content %}{% endblock %}
        </main>
        <!-- Подключение скриптов -->  
        <script src="{% static 'js/theme.js' %}"></script>
        <script src="{% static 'js/sidebar.js' %}"></script>
        <script src="{% static 'js/pageLoader.js' %}"></script>
        <script src="{% static 'js/formHandler.js' %}"></script>
    </body>
</html>